@import 'normalize.css';
@import "@blueprintjs/core/lib/css/blueprint.css";
/*@import "@blueprintjs/icons/lib/css/blueprint-icons.css";*/

/* Disable all bouncy animations */
.bp3-overlay-enter,
.bp3-overlay-appear {
  animation: none !important;
}

.bp3-overlay-exit {
  animation: none !important;
}

.bp3-dialog,
.bp3-drawer,
.bp3-popover,
.bp3-toast {
  transition: none !important;
}

* {
  transition-duration: 0s !important;
  animation-duration: 0s !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rounded-pill-button {
  border-radius: 9999px;
}